In [1]:
import json, requests
import pandas as pd
import numpy as np
import io
import random
import time

from random import sample
import warnings
warnings.filterwarnings('ignore')

In [3]:
from joblib import dump, load

In [5]:
# load model
pipe_rf = load("saved_models/pipe_rf.joblib")

In [8]:
# load test data
df = pd.read_csv('test_model_input.csv')

In [25]:
df.head()

,Datetime,Close,Volume,Name,return,vol,mom,sma,min,max,...,min_lag_4,min_lag_5,min_lag_6,max_lag_1,max_lag_2,max_lag_3,max_lag_4,max_lag_5,max_lag_6,direction
0,2023-01-09 13:35:00,4801.009766,128.0,NVR,-0.000248,0.002066,-1.0,4806.449194,4795.140625,4820.000000,...,4795.140625,4795.140625,4799.000000,4820.000000,4828.270020,4828.270020,4828.270020,4828.270020,4828.270020,-1
1,2023-01-09 13:35:00,95.220001,6376.0,TER,-0.002779,0.001440,-1.0,95.496249,95.220001,95.720001,...,95.129997,95.050003,95.044998,95.720001,95.779999,95.779999,95.779999,95.779999,95.779999,-1
2,2023-01-09 13:35:00,71.900002,18195.0,MET,-0.001251,0.001000,-1.0,72.375500,71.900002,72.660004,...,72.120003,72.120003,72.205002,72.660004,72.660004,72.660004,72.660004,72.660004,72.660004,-1
3,2023-01-09 13:35:00,60.910000,50570.0,CTSH,-0.003442,0.001563,-1.0,60.808610,60.590000,61.139999,...,60.590000,60.590000,60.590000,61.139999,61.139999,61.060001,61.040001,61.040001,61.040001,-1
4,2023-01-09 13:35:00,412.540009,8610.0,KLAC,-0.002977,0.001480,-1.0,414.536813,412.540009,416.329987,...,412.959991,412.959991,412.959991,416.480011,416.739990,416.739990,416.739990,416.739990,416.739990,-1

In [17]:
features = ['return', 'vol', 'mom', 'sma', 'min', 'max']  
lags = 6

In [19]:
cols = []
for f in features:
  for lag in range(1, lags + 1):
    col = f'{f}_lag_{lag}'
    cols.append(col)

In [ ]:
# convert all
str_df = df.copy()
for col in str_df.columns:
    str_df[col] = str_df[col

df['Marks'] = df['Marks'].astype(str)

In [24]:
df.head(1)[cols].to_dict('records')

[{'return_lag_1': -0.0021425126979011,
  'return_lag_2': 0.0011643342299438,
  'return_lag_3': 0.0005597566804979,
  'return_lag_4': 0.0018895733736993,
  'return_lag_5': -0.0014294624692999,
  'return_lag_6': 0.0001499935149684,
  'vol_lag_1': 0.0021610100401411,
  'vol_lag_2': 0.0022901628748157,
  'vol_lag_3': 0.0022798462625308,
  'vol_lag_4': 0.0023072489270228,
  'vol_lag_5': 0.0022711289934632,
  'vol_lag_6': 0.002332806971207,
  'mom_lag_1': -1.0,
  'mom_lag_2': 1.0,
  'mom_lag_3': -1.0,
  'mom_lag_4': 1.0,
  'mom_lag_5': -1.0,
  'mom_lag_6': -1.0,
  'sma_lag_1': 4807.098706054688,
  'sma_lag_2': 4808.402197265625,
  'sma_lag_3': 4808.28720703125,
  'sma_lag_4': 4808.2912109375,
  'sma_lag_5': 4808.030712890625,
  'sma_lag_6': 4808.390307617187,
  'min_lag_1': 4795.140625,
  'min_lag_2': 4795.140625,
  'min_lag_3': 4795.140625,
  'min_lag_4': 4795.140625,
  'min_lag_5': 4795.140625,
  'min_lag_6': 4799.0,
  'max_lag_1': 4820.0,
  'max_lag_2': 4828.27001953125,
  'max_lag_3': 4828.27001953125,
  'max_lag_4': 4828.27001953125,
  'max_lag_5': 4828.27001953125,
  'max_lag_6': 4828.27001953125}]

In [ ]:
input_example_dict = input_example.to_dict('series')

### Model Prediction

In [27]:
result = pipe_rf.predict(df[cols])

In [29]:
result

array([-1,  1, -1,  1,  1,  1,  1,  1, -1, -1])